{% extends './plantilla.html' %}

{% block title %}Gestion del parqueadero{% endblock %}

{% block body %} 
<div class='row'>
    <div class='col-sm-12 col-md-6 col-lg-4 col-xl-4'>
        <h2>Gestion Del Parqueadero</h2>
        <div class='card'>
            <div class='card-body'>
                <form action="/registrarVehiculo/" method='POST'> {% csrf_token %}
                    <div class='form-group py-2'>
                        <input type="text" id='txtPlaca' name='txtPlaca' class='form-control' placeholder='Placa' minlength='6' maxlength='6' required>
                    </div>
                    <div class='form-group py-2'>
                        <input type="text" id='txtColor' name='txtColor' class='form-control' placeholder='Color'  maxlength='20' required>
                    </div>
                    <div class='form-group py-2'>
                        <input type="text" id='txtTipoDeVehiculo' name='txtTipoDeVehiculo' class='form-control' placeholder='Tipo De Vehiculo'  maxlength='20' required>
                    </div>
                    <div class="d-grid gap-2 form-group py-2">
                        <button class="btn btn-success text-white" type="submit">Registar</button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-8 col-xl-8'>
        <h1>Listado De Vehiculos</h1>
        <div class='table-responsive py-2'>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Placa</th>
                        <th>Color</th>
                        <th>Tipo De Vehiculo</th>
                        <th colspan='2'>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in autos  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{a.placa}}</td>
                            <td>{{a.color}}</td>
                            <td>{{a.tipo_vehiculo}}</td>
                            <td><a href="edicionVehiculo/{{a.placa}}" class='btn btn-info'>Editar</a></td>
                            <td><a href="salidaParqueadero/{{a.placa}}" class='btn btn-danger'>Eliminar</a></td>
                            {% comment %} <td><a href="edicionPlaca/{{a.placa}}" class='btn btn-info'>Editar</a></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock  %}