<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">    
                <h2>Registro</h2>
                
                <!--Formulario-->
                <form method="post">
                    {% csrf_token %}
                    {% comment %} <div class="form-group">
                        {{formulario.username.label_tag}}
                        {{formulario.username}}
                        
                        
                    </div>

                    <div class="form-group">
                        {{formulario.email.label_tag}}
                        {{formulario.email}}
                    </div>

                    <div class="form-group">
                        {{formulario.password.label_tag}}
                        {{formulario.password}}    
                    </div> {% endcomment %}
                    {% for field in formulario %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{field}}

                            {% if field.errors %}
                                {{field.errors}}
                        {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary ">Registrar</button>
                    </form>
                
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>